.check-box {
  position: relative;
  display: inline-block;
  width: auto;
}

.check-box label {
  color: rgb(7, 168, 248);
  font-family: roboto;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  margin-left: 16px;
}

.check-box input[type='checkbox'] {
  display: none;
}

.check-box input[type='checkbox'] + label:before {
  position: absolute;
  content: '';
  border: 1px solid;
  margin: 8px;
  background: white;
  color: #d2c9c9;
  border-radius: 20%;
  box-sizing: border-box;
  height: 18px;
  width: 18px;
  padding-top: 2px;
  left: 0px;
  font-size: 15px;
  top: 2px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.check-box input[type='checkbox']:checked + label:before {
  content: '\2713';
  border: 1px solid #ccc;
  margin: 8px;
  background-color: #f2f2f2;
  color: #a09e9e;
  border-radius: 20%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 2px;
  padding-left: 1px;
  left: 0px;
  top: 0px;
  height: 18px;
  width: 18px;
  top: 2px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
