.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 5px;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
}
.nomal {
  border: 1px solid grey;
  color: black;
}
.error {
  background-color: #e8002e !important;
}
.warning {
  background-color: #ff9800 !important;
}
.success {
  background-color: green;
}
