<nav class="ang-gui-nav-nromal">
  <div class="ang-gui-nav-wrapper">
    <div class="ang-gui-nav-logo-container"><ng-content></ng-content></div>
    <div class="ang-gui-nav-desktop-menu-container">
      <div class="ang-gui-nav-menu">
          <a class="nav-link" href="#"> Dropdown link </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="ang-gui-nav-search-bar-container"></div>
    <div class="ang-gui-nav-mobile-menu-container"></div>
  </div>
</nav>
