.ang-gui-nav-nromal {
  width: 100%;
  z-index: 2;
  /* background: #4d148c; */
  /* background-color: #16192c !important; */
  background-color: #022347 !important;
  max-height: 75px;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.25s;
}
.ang-gui-nav-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.ang-gui-nav-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.ang-gui-nav-logo-container {
  height: 50px;
  width: 120px;
  background-color: red;
}
.ang-gui-nav-desktop-menu-container {
  height: 50px;
  flex-basis: 1;
  flex-grow: 1;
  background-color: rgb(25, 0, 255);
}
.ang-gui-nav-search-bar-container {
  height: 50px;
  width: 50px;
  background-color: rgb(51, 255, 0);
}
.ang-gui-nav-mobile-menu-container {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 60, 0);
}
