<nav class="ang-gui-nav-nromal">
  <div class="ang-gui-nav-wrapper">
    <div class="ang-gui-nav-mobile-menu-container">
      <ang-gui-icon
        [width]="30"
        [height]="30"
        [margin]="8"
        fillColor="white"
        strokeColor="black"
        iconName="dotted-menu"
      ></ang-gui-icon>
    </div>
    <div class="ang-gui-nav-logo-container"><ng-content></ng-content></div>
    <div class="ang-gui-nav-desktop-menu-container">
      <div class="ang-gui-nav-menu">
        <div class="nav-link-container">
          <a class="nav-link nav-link-text" href="#"> Dropdown link </a>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-item" href="#">Link 1</div>
          <div class="dropdown-item" href="#">Link 1</div>
        </div>
      </div>
      <div class="ang-gui-nav-menu">
        <div class="nav-link-container">
          <a class="nav-link nav-link-text" href="#"> Dropdown link </a>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-item" href="#">Link 1</div>
          <div class="dropdown-item" href="#">Link 1</div>
        </div>
      </div>
    </div>
    <div class="ang-gui-nav-search-bar-container">
      <ang-gui-icon
        [width]="30"
        [height]="25"
        [margin]="12.5"
        strokeColor="white"
        iconName="search"
      ></ang-gui-icon>
    </div>
    <div class="ang-gui-nav-user-profile-menu-container">
      <ang-gui-icon
        [width]="35"
        [height]="35"
        [margin]="7"
        fillColor="white"
        strokeColor="black"
        iconName="user-profile"
      ></ang-gui-icon>
    </div>
  </div>
</nav>
