.ang-gui-nav-nromal {
  width: 100%;
  z-index: 2;
  background-color: #022347 !important;
  max-height: 75px;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.25s;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.ang-gui-nav-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.ang-gui-nav-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.ang-gui-nav-logo-container {
  height: 50px;
  width: 120px;
}

.ang-gui-nav-desktop-menu-container {
  height: 50px;
  flex-basis: 1;
  flex-grow: 1;
}

.ang-gui-nav-search-bar-container {
  height: 50px;
  width: 50px;
}
.ang-gui-nav-user-profile-menu-container,
.ang-gui-nav-mobile-menu-container {
  height: 50px;
  width: 50px;
}

.ang-gui-nav-search-bar-container ang-gui-icon,
.ang-gui-nav-user-profile-menu-container ang-gui-icon {
  display: block;
}
.ang-gui-nav-menu {
  color: rgba(255, 255, 255, 0.5);
  display: inline-flex;
  position: relative;
  padding: 5px 10px;
}
.nav-link::after {
  display: inline-flex;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  align-self: center;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.ang-gui-nav-menu:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  min-width: -webkit-fill-available;
  margin: 0px 9px;
}
.ang-gui-nav-menu:hover .dropdown-menu .dropdown-item:hover {
  display: flex;
  background-color: #022347;
  color: white;
  padding: 8px 10px;
  margin: 0px;
}
.nav-link {
  text-decoration: none;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  padding: 10px;
  border: 0;
  color: white;
}
.nav-link-container {
  display: flex;
}
.ang-gui-nav-menu:hover .nav-link-container {
  background-color: white;
}
.ang-gui-nav-menu:hover .nav-link-text {
  color: #212529 !important;
}
.ang-gui-nav-menu:hover .nav-link {
  color: #797c80;
}
.dropdown-menu {
  text-decoration: none;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(19, 18, 18, 0.15);
  /* border-radius: 0.25rem; */
}

.dropdown-item {
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  display: flex;
  padding: 8px 10px;
  margin: 0px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
