.angui-card-header {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  font-family: roboto;
  letter-spacing: 1px;
  line-height: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-basis: 1;
  width: 100%;
  align-self: flex-start;
}
