.angui-card-footer {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  font-family: roboto;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
