<div class="ang-gui-drop-down-container">
  <div
    class="ang-gui-drop-down-text-container"
    
    (click)="toggleDropDown = !toggleDropDown"
  >
    <div
      class="ang-gui-drop-down-text"
      [ngClass]="selectedValue !== 'Select' ? 'ang-gui-drop-selection-changed' : ''"
    >
      {{ selectedValue }}
    </div>

    <div [ngClass]="toggleDropDown ? 'active ang-gui-drop-down-arrow' : 'ang-gui-drop-down-arrow'"></div>
  </div>
  <div *ngIf="toggleDropDown" class="active ang-gui-drop-down-list-container">
    <ul>
      <li
        (click)="selectedValueChange(dropDownModel[i])"
        *ngFor="
          let entry of dropDownModel;
          trackBy: trackByFunction;
          let i = index
        "
      >
        {{ entry.value }}
      </li>
    </ul>
  </div>
</div>

