.drop-down-container {
  height: 40px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 15px 5px;
  border: 1px solid #ccc;
  position: relative;
}
.drop-down-text-container {
  /* min-width: 180px; */
  outline: none;
  border: none;
  margin: 8px 0px 8px 8px;
  letter-spacing: 1px;
  padding: 5px 2px 5px 0px;
  width: calc(100% - 15px);
  display: inline-flex;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
}
.drop-down-text {
  display: inline-flex;
  width:calc(100% - 10px);
  padding: 0px 5px;
  color: #8f959a;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
}
.drop-down-arrow {
  display: inline-flex;
  float: right;
  top: 8px;
}
.drop-down-arrow:after {
  display: inline-flex;
  content: '';
  align-self: center;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.active.drop-down-arrow:after {
  display: inline-flex;
  content: '';
  align-self: center;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
  border-top: 0;
  border-right: 0.3em solid transparent;
}

.active.drop-down-list-container {
  height: auto;
  max-height: 194px;
  position: absolute;
  height: auto;
  max-height: 194px;
  margin: 0px;
  margin-left: -1px;
  margin-top: 40px;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
  width: calc(100% + 0px);
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: 1;
  /* flex-grow: 1; */
  z-index: 100000000;
  background: white;
  border: 1px solid #ccc;
}

.active.drop-down-list-container ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  border-bottom: none;
}
.active.drop-down-list-container ul li {
  text-decoration: none;
  list-style: none;
  padding: 10px 5px;
  width: calc(100% - 10px);
}
.active.drop-down-list-container ul li:nth-child(odd) {
  background-color: #f3f3f3;
}
.active.drop-down-list-container ul li:hover {
  background-color: #d8d9da;
}
