<!-- adasd -->
<ang-gui-button type="success rounded-corner" (click)="showSuccessMessage()">
  Success message
</ang-gui-button>
<ang-gui-button type="error rounded" (click)="showErrorMessage()"
  >Error message</ang-gui-button
>
<ang-gui-button type="warning" (click)="showWarningMessage()">
  Warning message
</ang-gui-button>

<ang-gui-alert
  style="margin:5px;display:block"
  alertMessage="This is a normal message"
  [showAlertMessage]="true"
></ang-gui-alert>
<ang-gui-drop-down></ang-gui-drop-down>

<ang-gui-input-box
  type="normal under-lined"
  placeHolder="Name"
></ang-gui-input-box>
<ang-gui-input-box
  type="normal under-lined"
  placeHolder="Password"
></ang-gui-input-box>
<ang-gui-input-box type="borderd" placeHolder="Age"></ang-gui-input-box>

<ang-gui-check-box></ang-gui-check-box>
