<div style="width: 100%;
height: calc(100vh - 50px);
max-height: 100vh;
overflow: scroll;
position: relative;">
  <ang-gui-button type="success rounded-corner" (click)="showSuccessMessage()">
    Success message
  </ang-gui-button>
  <ang-gui-button type="error rounded" (click)="showErrorMessage()"
    >Error message</ang-gui-button
  >
  <ang-gui-button type="warning" (click)="showWarningMessage()">
    Warning message
  </ang-gui-button>

  <ang-gui-alert
    style="margin:5px;display:block"
    alertMessage="This is a normal message"
    [showAlertMessage]="true"
  ></ang-gui-alert>
  <ang-gui-drop-down></ang-gui-drop-down>

  <ang-gui-input-box
    type="normal under-lined"
    placeHolder="Name"
  ></ang-gui-input-box>
  <ang-gui-input-box
    type="normal under-lined"
    placeHolder="Password"
  ></ang-gui-input-box>
  <ang-gui-input-box type="borderd" placeHolder="Age"></ang-gui-input-box>

  <ang-gui-check-box></ang-gui-check-box>

  <ang-gui-card>
    <ang-gui-card-header>
      <!-- <ang-gui-label [text]="'Application Of Card'"></ang-gui-label> -->
    </ang-gui-card-header>
    <ang-gui-card-content>
      FDXUI_Card card is common place holder to display some beautiful content
      with Header Name , descriptive area that is the content area, and footer
      which can contain some actions items also.
    </ang-gui-card-content>
  </ang-gui-card>

  <!-- <ang-gui-horizondal-line></ang-gui-horizondal-line> -->

  <ang-gui-card>
    <ang-gui-card-header>
      <!-- <ang-gui-label [text]="'Application Of Card'"></ang-gui-label> -->
    </ang-gui-card-header>
    <ang-gui-card-content>
      <p>
        FDXUI_Card card is common place holder to display some beautiful content
        with Header Name , descriptive area that is the content area, and footer
        which can contain some actions items also. ang-gui card is common place
        holder to display some beautiful content with Header Name , descriptive
        area that is the content area, and footer which can contain some actions
        items also.
      </p>
      <p>
        FDXUI_Card card is common place holder to display some beautiful content
        with Header Name , descriptive area that is the content area, and footer
        which can contain some actions items also. ang-gui card is common place
        holder to display some beautiful content with Header Name , descriptive
        area that is the content area, and footer which can contain some actions
        items also.
      </p>
    </ang-gui-card-content>
    <ang-gui-card-footer>
      <!-- <ang-gui-label [likeLink]="true" [text]="'I Hope You Like It'" [hover]="true"></ang-gui-label> -->
    </ang-gui-card-footer>
  </ang-gui-card>

  <ang-gui-card>
    <ang-gui-card-header>
      <!-- <ang-gui-label [text]="'Application Of Card'"></ang-gui-label> -->
    </ang-gui-card-header>
    <ang-gui-card-content>
      <p>
        FDXUI_Card card is common place holder to display some beautiful content
        with Header Name , descriptive area that is the content area, and footer
        which can contain some actions items also. ang-gui card is common place
        holder to display some beautiful content with Header Name , descriptive
        area that is the content area, and footer which can contain some actions
        items also.
      </p>
      <p>
        FDXUI_Card card is common place holder to display some beautiful content
        with Header Name , descriptive area that is the content area, and footer
        which can contain some actions items also. ang-gui card is common place
        holder to display some beautiful content with Header Name , descriptive
        area that is the content area, and footer which can contain some actions
        items also.
      </p>
    </ang-gui-card-content>
    <ang-gui-card-footer>
      <!-- <ang-gui-label [likeLink]="true" [text]="'I Hope You Like It'" [hover]="true"></ang-gui-label> -->
    </ang-gui-card-footer>
  </ang-gui-card>
  <!-- <ang-gui-horizondal-line></ang-gui-horizondal-line> -->
</div>
