<section class="progress-line">
  <span *ngIf="title" class="progress-label">{{ title }}</span>
  <div
    *ngIf="type != 'circular'"
    class="progress-line-container"
    [ngClass]="type"
    style="background: rgb(239, 239, 239); height: 15px;"
  >
    <div
      class="progress-line-bar"
      [ngClass]="type"
      [style.width.%]="progressPercentage"
    >
      {{ progressPercentage }}%
    </div>
  </div>

  <div class="progress-holder" *ngIf="type == 'circular'">
    <div class="semi-circle"></div>
    <div class="left-block"></div>
    <div
      class="right-block"
      [style.background]="
        progressPercentage > 50 ? 'inherit' : 'rgb(239, 239, 239)'
      "
      [style.transform]="
        'rotate(' + (progressPercentage ? getCircularPercentage() : 0) + 'deg)'
      "
    ></div>
    <!-- style="transform: rotate(180.6deg);" -->
    <div class="mask">
      <span>{{ progressPercentage }}%</span>
    </div>
  </div>
</section>
