<nav class="expander-menu">
<input type="checkbox" class="expander-menu-chekbox" id="menu-checkbox" />
<div class="expander-menu-container">
  <ul class="expander-menu-list-container">
    <li class="expander-menu-list-item">
      <span class="expander-menu-list-item-text">
        Item 1
      </span>
    </li>
    <li class="expander-menu-list-item">
      <span class="expander-menu-list-item-text">
        Item 2
      </span>
    </li>
    <li class="expander-menu-list-item">
      <span class="expander-menu-list-item-text">
        Item 3
      </span>
    </li>
    <li class="expander-menu-list-item">
      <span class="expander-menu-list-item-text">
        Item 4
      </span>
    </li>
    <li class="expander-menu-list-item">
      <span class="expander-menu-list-item-text">
        Item 5
      </span>
    </li>
  </ul>
</div>
<label class="expander-menu-button" for="menu-checkbox"></label>
</nav>

<div class="radial-expander-menu" style = "display:none">
<div class="base close">
  <div class="menu">
    <div class="icon">
      <div class="bar"></div>
    </div>
  </div>
  <div class="icons">
    <i class="fa fa-user" aria-hidden="true"></i>
    <i class="fa fa-calendar-o" aria-hidden="true"></i>
    <i class="fa fa-tachometer" aria-hidden="true"></i>
  </div>
  <div class="section">
    <div class="cover1">
      <div class="cover2">
        <a class="content" href="#calender"></a>
      </div>
    </div>
  </div>
  <a class="section-static top" href="#profile"></a>
  <a class="section-static bottom" href="#dashboard"></a>
</div>
</div>