
.tab-option-contianer{
  width: 100%;
  height:45px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.04)

}

.tab-option-contianer.bottom-tab{
  border-top: 1px solid #e0dddd;
  border-bottom: 1px solid #e0dddd !important;
  box-shadow: none !important;
  padding-bottom: 1px;
}

.tab-option-contianer.bottom-tab .tab-options{
  padding:12px 10px;
}

.tab-option-contianer.bottom-tab .tab-options.active[_ngcontent-c10] {
  color: rgb(7, 168, 248);
  margin: 3px 10px;
  text-align: center;
  padding: 9px 0px 13px 0px;
  border-bottom: none !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 20px;
}

.tab-options{
 display: block;
 float:left;
  flex-grow: 1;
  padding:10px;
  /* margin: 3px 10px; */
  text-align: center;
  color:grey;
}

  .tab-options.active{
  color: rgb(7, 168, 248);
  margin: 3px 10px;
  text-align: center;
  padding: 7px 0px 15px 0px;
  /* padding-left: 3px; */
  /* padding-bottom: 15px; */
  border-bottom: 1px solid rgb(7, 168, 248);
  background-color: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  }

  .tab-option-contianer.bottom-tab{
      box-shadow:none;
      border-bottom: none;
      background-color:white;
      border-radius:0px;
  }
  .tabs-container.bottom-tab{
      border-top: 1px solid #e0dddd;
      /* border-bottom: 1px solid #e0dddd; */
              box-shadow: none !important;
  }

.tabs-container{
  background-color:  white;
  width: 100%;
  height: 500px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.04)
}
.tab-content{
  background-color:  white;
  display: inline-block;
  float:left;
  left:0px;
  position: relative;
  width: 100%;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
overflow: auto;

}
.tab-content-place{
  background-color:  white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  flex-basis: 100%;
}
.content{
  background-color:  white;
  display: flex;
  height: 100%;
  padding: 0px 10px;
}
.Tab1{
  background-color:  white;
}
.Tab2{
  background-color:  white;
}
.Tab3{
  background-color:  white;
}