*{
  -webkit-tap-highlight-color: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -khtml-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;

}

.link-text {
  color: rgb(7, 168, 248);
  font-family: roboto;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  padding:8px;
  display: inline-block;
}

.link-text.hover-underline {
  min-width: 40px;
}

.link-text.hover-underline:hover {
  /* text-decoration: underline; */
  border-bottom: 1px solid rgb(7, 168, 248);
  cursor:pointer; 
  padding-bottom: 7px;
  color: rgb(11, 142, 207) !important;
}

.disabled{
  cursor:none;
  color: rgb(0, 5, 7) !important;
  pointer-events: none;
  opacity: .4;
}

.main-header {	
  display: flex;
  color: rgb(57, 60, 64);	
  font-size: 35px;	
  font-weight: 300;	
  letter-spacing: 1px;	
  line-height: 41px;
}

.sub-header {	
  display: flex;
  color: #393C40;	
  font-size: 26px;	
  font-weight: 300;	
  letter-spacing: 1px;	
  line-height: 30px;
}

.refresh-link:before{
  content: "\21BB";
  color: rgb(11, 142, 207) !important;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
   -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  position: relative;
  display:inline-block;
  padding:0px 10px;
  font-size:22px;
  cursor:pointer;
}

.previous-button-link:before{
  color: rgb(11, 142, 207) !important;
  content: "\22C1";
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding:10px 5px;
  top:2px;
  position: relative;
  display:inline-block;
  font-size:22px;
}

.next-button-link:after{
  color: rgb(11, 142, 207) !important;
  content: "\22C1";
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding:10px 5px;
  top:2px;
  position: relative;
  display:inline-block;
  font-size:22px;
  cursor:pointer;
}

.refresh-link,
.add-button-link,
.previous-button-link, 
.next-button-link{
  cursor:pointer;
}

.add-button-link:hover,
.previous-button-link:hover, 
.next-button-link:hover,
.refresh-link:hover:hover,
.icon-link:hover{
  color: rgb(11, 142, 207) !important;
}

.add-button-link:before{
  color: rgb(11, 142, 207) !important;
  content: "\254B";
  font-weight: bold;
  font-size:16px;
  padding: 0px 10px;
  display:inline-block;
  cursor:pointer;
}

.icon-link{
  display:inline-block;
  cursor:pointer;
}

.icon-link:before{
  font-weight: bold;
  font-size:16px;
  top:2px;
  position: relative;
  padding: 0px 10px;
  cursor:pointer;
  opacity: .6;
}

.icon-link.delete-button-link:before{
  content:url('../../../assets/icons/trash-icon.ico');
}

.icon-link.open-page-button-link:before{
  content:url('../../../assets/icons/open-page-icon.ico');
}

.icon-link.folder-button-link:before{
  content:url('../../../assets/icons/folder.ico');
}

.icon-link.galary-button-link:before{
  content:url('../../../assets/icons/galary.ico');
}

.icon-link.home-button-link:before{
  content:url('../../../assets/icons/home.ico');
}

.icon-link.download-button-link:before{
  content:url('../../../assets/icons/download.ico');
}

.icon-link.upload-button-link:before{
  content:url('../../../assets/icons/upload.ico');
}

.icon-link.pages-button-link:before{
  content:url('../../../assets/icons/pages.ico');
}

.icon-link.ordered-list-icon:before{
  content:url('../../../assets/icons/list-left.ico');
}
.icon-link.ordered-list-icon:hover::before{
  content:url('../../../assets/icons/list-down.ico');
  top:5px;
}
.active.icon-link.ordered-list-icon:before{
  content:url('../../../assets/icons/list-down.ico');
}
.icon-link.like-icon:before{
  content:url('../../../assets/icons/like1.ico');
  zoom: 1.4;
  top: 6px;
  opacity: .8;
  padding-left:0px;
}