<div
  class="ang-gui-error-container"
  [ngClass]="isRedAlert ? 'main-error redAlert' : 'main-error  greenAlert'"
  *ngIf="showAlertMessage"
>
  <div class="icon-container">
    <ang-gui-icon
      *ngIf="isRedAlert"
      iconName="info-icon"
      strokeColor="white"
    ></ang-gui-icon>
    <ang-gui-icon *ngIf="!isRedAlert" iconName="info-icon"></ang-gui-icon>
  </div>
  <div class="error-message-container">
    {{ alertMessage }}
  </div>
  <div (click)="closeAlert()" class="icon-container">
    <ang-gui-icon iconName="close" fillColor="white"></ang-gui-icon>
  </div>
</div>
