<div
  [ngClass]="isRedAlert ? 'main-error redAlert' : 'main-error  greenAlert'"
  *ngIf="showAlertMessage"
>
  <img class="error-img-responsive" *ngIf="isRedAlert" height="30" />
  <!-- src="assets/images/icons/Icons/Orion_priority-warning.svg" -->
  <img class="error-img-responsive" height="30" *ngIf="!isRedAlert" />
  <!-- src="assets/images/icons/Icons/Check_white.svg" -->
  <div class="errormsg">
    {{ alertMessage }}
  </div>
  <div (click)="closeAlert()" class="classC1">
    <ang-gui-icon iconName="close"></ang-gui-icon>
  </div>
</div>
